@using PlexLander.Models
@using PlexLander.ViewModels.Settings
@using PlexLander.HtmlHelpers
@model SettingsIndexViewModel
<div class="panel-heading">
    <h3>Plex</h3>
</div>
<div class="panel-body">
    @using (Html.BeginForm("SavePlexServerSettings", "Settings", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.PlexServerSettingsViewModel.IsEnabled)?
            @Html.ToggleSwitchFor(m => m.PlexServerSettingsViewModel.IsEnabled)
            <button type="submit" class="btn btn-default">Save</button>
        </div>

        if (Model.PlexServerSettingsViewModel.IsEnabled)
        {
            <div class="form-group" id="plexsettings-followup">
                @Html.LabelFor(m => m.PlexServerSettingsViewModel.Token)<text>: </text>
                @Html.TextBoxFor(m => m.PlexServerSettingsViewModel.Token)<br />
                @Html.LabelFor(m => m.PlexServerSettingsViewModel.HasAuthentication)?

                @if (!Model.PlexServerSettingsViewModel.HasAuthentication)
                {
                    <button type="button" class="btn btn-warning" onclick="showModal('#modalPlexAuthentication')">Authenticate</button>
                }
                else
                {
                    <span class="glyphicon glyphicon-ok-circle label label-success"></span>
                }
            </div>
        }
    }
</div>